@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.logo{
  background: -webkit-linear-gradient(0deg,#0031FF, #55b1f2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card{
  background: red;
  width: 100px;
  min-width: 100px;
  height: 145px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: bolder;
  background: linear-gradient(0deg,#0031FFbb, #55b1f2cc );
  box-shadow: 0 4px 3px #333;
}

.user-card{
  @apply card;
  background: #ffffff;
  font-size: 18px;
  font-weight: 400;
  position: relative;
}

.user-card__name{
  position: absolute;
  bottom: 10px;
}

.codefield input{
  width: 70px;
  font-size: 70px;
  text-align: center;
  border: 1px solid rgba(29,28,29, 0.2);
}

.codefield input:nth-child(1){
  border-radius: 8px 0 0 8px;
}

.codefield input:last-child{
  border-radius: 0 8px 8px 0;
}

.users{
  background: rgba(255,255,255,0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0,0,0,0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(0,0,0,0.1);
  padding: 10px;
  @apply flex;
  align-items: center;
  justify-content: center;
}

.selected-vote-card{
  
}